<!DOCTYPE html>
<html>

<head>
  <title>
    <%=global.title%>--用户管理</title>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/resources/ext4.2/resources/css/ext-all.css' />
  <link rel='stylesheet' href='/resources/ext4.2/resources/css/icon.css' />
  <script src='/resources/ext4.2/bootstrap.js'></script>
  <script src='/resources/ext4.2/locale/ext-lang-zh_CN.js'></script>
  <script type="text/javascript" src="/javascripts/datetime/UX_TimePickerField.js"></script>
  <script type="text/javascript" src="/javascripts/datetime/UX_DateTimePicker.js"></script>
  <script type="text/javascript" src="/javascripts/datetime/UX_DateTimeMenu.js"></script>
  <script type="text/javascript" src="/javascripts/datetime/UX_DateTimeField.js"></script>
  <script src='/javascripts/users.js'></script>
  <script>
    Ext.Loader.setConfig({
      enabled: true,
      paths: {
        'ux': '/javascripts/ux'
      }
    });
  </script>
</head>

<body>
</body>

</html>